<!DOCTYPE html>
<html>
<head>
    <title>CNN Prediction App</title>
</head>
<body>
    <h1>Enter Data</h1>
    <form method="post">
        <label for="Rpm">RPM:</label>
        <input type="number" step=any id="Rpm" name="Rpm" required><br>
        <label for="Feed">Feed Rate:</label>
        <input type="number" step=any id="Feed" name="Feed" required><br>
        <label for="Depth">Depth of Cut:</label>
        <input type="number" step=any id="Depth" name="Depth" required><br>
        <input type="submit" value="Predict">
    </form>
</body>
</html>
